.brands{
    margin-bottom: 30rem;
}

.warp-layout {
    @include flex();
    flex-direction: column;
    padding: 0 7rem;
}

.wrap-brands {
    @include flex(center, center);
    margin-bottom: 10rem;
    gap: 0 5rem;
    width: 100%;
}

.brand {
    @include flex(center, center);
    flex: 1;
}


@include maxw(769px) {

    .brands{
        margin-bottom: 15rem;
    }

    .warp-layout {
        @include flex();
        flex-direction: column;
        padding: 0 4rem;
    }
}